body {
  background-color: #02010a;
  font-family: ;
}

.container-fluid {
  padding: 24px 80px;
  height: 145px;
}

.bg-container {
  background-color: #14131e;
}

.nav-link {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
