body {
  background-color: #02010a;
}

.navbar {
  position: fixed;
  width: 100%;
}

.container-fluid {
  padding: 24px 80px;
  height: 120px;
}

.bg-container {
  background-color: #14131e;
}

.nav-link {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.search-desktop {
  display: block;
}

.search-mobile {
  display: none;
}

.container-hero {
  background-image: url("Pictures/hero-bg.png");
  height: clamp(500px, 60vh, 800px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-btn {
  background-color: #837ef8;
  border: none;
  border-radius: 60px;
  text-decoration: white;
}

.primary-btn:hover {
  border: 1px solid #837ef8;
  background-color: transparent;
  text-decoration: #837ef8;
}

.container-main {
  height: clamp(585px, 60vh, 600px);
  padding: 24px 40px;
  align-items: center;
  justify-content: center;
}
.container-main2 {
  height: clamp(585px, 60vh, 600px);
  padding: 24px 40px;
  align-items: center;
  justify-content: center;
  background-color: #14131e;
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 12px 16px;
    min-height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .offcanvas-end {
    width: 100%;
    background-color: #14131e;
  }

  .offcanvas-title {
    text-decoration: white;
  }
  .navbar-nav {
    width: 100%;
  }
  .brand-title {
    display: none;
  }
  .search-mobile {
    display: flex;
  }
  .search-desktop {
    display: none;
  }
  .navbar-logo {
    width: 60px;
    height: 60px;
  }
  .henny-penny-regular {
    margin-right: 0;
    padding-left: 28px;
  }
  .form-search-mobile {
    width: 50%;
  }

  .container-main {
    height: clamp(400px, 60vh, 500px);
  }

  .card-main {
    height: clamp(200px, 20vh, 250px);
  }
}
