body {
  background-color: #02010a;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
}

.container-fluid {
  padding: 24px 80px;
  height: 120px;
}

.bg-container {
  background-color: #14131e;
}

.nav-link {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.search-desktop {
  display: block;
}

.search-mobile {
  display: none;
}

.container-hero {
  background-image: url("Pictures/hero-bg.png");
  height: clamp(500px, 60vh, 800px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-btn {
  background-color: #837ef8;
  border: none;
  border-radius: 60px;
  text-decoration: white;
}

.primary-btn:hover {
  border: 1px solid #837ef8;
  background-color: transparent;
  text-decoration: #837ef8;
}

.container-main {
  padding: 24px 40px;
}

.container-main2 {
  background-color: #14131e;
  padding: 24px 40px;
}

.card-main {
  height: clamp(300px, 30vh, 300px);
  width: clamp(250px, 20vw, 250px);
  border-radius: 8px;
  z-index: -1;
}

.gallery-image {
  z-index: -1;
}

.mscroll {
  padding-bottom: 20px;
  scrollbar-color: #837ef8 transparent;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
}

.mscroll::-webkit-scrollbar {
  height: 6px;
}

.mscroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
  margin: 0 15%;
}

.mscroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 100px;
}

.mscrollo::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1;
}

@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 12px 16px;
    min-height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .offcanvas-end {
    width: 100%;
    background-color: #14131e;
  }

  .offcanvas-title {
    text-decoration: white;
  }
  .navbar-nav {
    width: 100%;
  }
  .brand-title {
    display: none;
  }
  .search-mobile {
    display: flex;
  }
  .search-desktop {
    display: none;
  }
  .navbar-logo {
    width: 60px;
    height: 60px;
  }
  .henny-penny-regular {
    margin-right: 0;
    padding-left: 28px;
  }
  .form-search-mobile {
    width: 50%;
  }

  .container-main {
    height: clamp(400px, 55vh, 500px);
  }

  .container-main2 {
    height: clamp(400px, 55vh, 500px);
  }

  .card-main {
    height: clamp(250px, 20vh, 250px);
  }
}

@media (max-width: 767px) {
  .container-main {
    height: clamp(350px, 55vh, 450px);
  }
  .container-main2 {
    height: clamp(350px, 55vh, 450px);
  }

  .card-main {
    height: clamp(200px, 25vh, 250px);
  }
}

@media (max-width: 575px) {
  .container-main {
    height: clamp(300px, 50vh, 400px);
  }
  .container-main2 {
    height: clamp(300px, 50vh, 400px);
  }

  .card-main {
    height: clamp(150px, 20vh, 200px);
  }
}
